# EditorConfig é ótimo para definir padrões de formatação em diferentes tipos de arquivos.
root = true

# Definições padrão para todos os arquivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Configurações específicas para arquivos JSON e JavaScript
[*.json, *.js]
indent_style = space
indent_size = 2

# Configurações específicas para arquivos Java, C, C++, Python
[*.java, *.c, *.cpp, *.py]
indent_style = space
indent_size = 4